.socialgramLogo{
    font-family: 'socialgram';
    font-size: 35px;
    color:  #292929;
    margin-top: 0;
    composes: center-align from global;
}

.card{
    width: 300px;
    margin:auto;
}

.row{
    margin-bottom: 0;
}

.button{
    margin-top: 20px;
}

